.loading,
.no-data {
  color: rgba(145, 206, 201, 255);
  text-align: center;
}

.data-block {
  margin: 10px;
  background-color: rgba(54, 72, 69, 255);
  padding: 10px;
}

@media (min-width: 1700px) {
  .testpage-body {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media (max-width: 1300px) {
  .testpage-body {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media (max-width: 920px) {
  .testpage-body {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media (max-width: 760px) {
  .testpage-body {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}
