.testpage-body {
  margin-left: 15vw;
  margin-right: 15vw;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.data-block {
  margin: 10px;
  background-color: rgba(54, 72, 69, 255);
  padding: 10px;
  /* height: 100vh; */
}

.data-block-toprow {
  display: flex;
  flex-direction: row;
}

.data-block-bottomrow {    
  background-color: rgba(76, 94, 91, 255);
  margin: 5px;
}

.data-block-primary,
.data-block-secondary,
.data-block-third {
  color: white;
  background-color: rgba(76, 94, 91, 255);
  margin: 5px;
}

.data-block-third {
  flex-grow: 1;
}

.data-block-secondary {
  display: flex;  
}

.data-block-secondary-column-left {
  flex-grow: 1;
  display: flex;
  justify-content: space-around !important;
}

.data-block-primary-header,
.data-block-secondary-header,
.data-block-tertiary-header,
.data-block-secondary-caption {
  color: rgba(145, 206, 201, 255);
}

.data-block-primary-header,
.data-block-secondary-header,
.data-block-tertiary-header {
  padding: 10px 15px 0px 15px;
}

.data-block-tertiary-header { 
  margin-left: 15px;
}

.data-block-primary-header {
  font-weight: 600;
  font-size: 0.9em;
  text-align: center;
}

.data-block-secondary-header {
  font-size: 0.8em;
}

.data-block-secondary-caption {
  font-size: 0.7em;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.secondary-caption {
  color: white;
}

.data-block-tertiary-header {
  font-size: 0.9em;
  font-weight: 600;
}

.data-block-primary-value,
.data-block-secondary-value {
  color: white;
  margin-top: 10px;
}

.timer-line {
  color: white;
  margin-left: 15px;
  font-weight: 400;
  font-size: 0.9em;
}

.minutes-text {
  color: #c6a46e;
}

.data-block-primary-value-main {
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.data-block-tertiary-value {
  font-size: 1.3em;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.data-block-primary-value {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.data-block-secondary-value {
  margin-left: 15px;
}

.column-item {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.column-row {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1700px) {
  .testpage-body {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media (max-width: 1300px) {
  .testpage-body {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .data-block-tertiary-header {
    text-align: center;
  }
}

@media (max-width: 920px) {
  .testpage-body {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media (max-width: 800px) {
  .data-block-secondary {
    flex-direction: column;
  }

  .data-block-secondary-column-right {
    display: flex;
    justify-content: space-evenly;
  }
  
  .data-block-tertiary-value {    
    padding-bottom: 15px;
  }
}

@media (max-width: 760px) {
  .testpage-body {
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .data-block-secondary-column-left {
    display: block !important;
    text-align: center;
  }
  .data-block-toprow {
    flex-direction: column;
  }  
}

@media (max-width: 520px) {
  .data-block-primary-value {
    font-size: 35px;
  }
}
