.testpage-body {
  margin-left: 15vw;
  margin-right: 15vw;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.data-block {
  margin: 10px;
  background-color: rgba(54, 72, 69, 255);
  padding: 10px;
  height: 100vh;
}

.data-block-toprow {
  display: flex;
  flex-direction: row;
}

.data-block-primary,
.data-block-secondary {
  color: white;
  background-color: rgba(76, 94, 91, 255);
  margin: 5px;
}

.data-block-secondary {
  flex-grow: 1;
}

.data-block-secondary {
  display: flex;
  flex-direction: row;
}

.data-block-secondary-column-left,
.data-block-secondary-column-right {
  display: flex;
  flex-direction: column;  
}

.data-block-secondary-column-left {
  flex-grow: 1;  
}
.data-block-primary-header,
.data-block-secondary-header,
.data-block-tertiary-header,
.data-block-secondary-caption {
  color: rgba(145, 206, 201, 255);
}

.data-block-primary-header,
.data-block-secondary-header,
.data-block-tertiary-header {
  padding: 10px 15px 0px;
}

.data-block-primary-header {
  font-weight: 600;
  font-size: 0.9em;
  text-align: center;
}

.data-block-secondary-header {
  font-size: 0.8em;
}

.data-block-secondary-caption {
  font-size: 0.7em;
  margin-left: 15px;
}

.secondary-caption {
  color: white;
}

.data-block-tertiary-header {
  font-size: 0.9em;
  font-weight: 600;
}

.data-block-primary-value,
.data-block-secondary-value,
.data-block-tertiary-value {
  color: white;
}

.data-block-tertiary-value {
  text-align: center;
  font-size: 1.3sem;
  font-weight: 600;
}

.data-block-primary-value {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.data-block-secondary-value {
  margin-left: 15px;
}

@media (max-width: 920px) {
  .data-block-tertiary-header {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .data-block,
  .data-block-toprow,
  .data-block-secondary {
    flex-direction: column;
  }

  .data-block-secondary-column-right {
    flex-direction: row;
    padding-bottom: 10px;
  }

  .data-block-tertiary-value {
    flex-grow: 1;
    text-align: left;
    padding: 0.5em;
  }
}

@media (max-width: 520px) {
  .data-block-primary-value {
    font-size: 35px;
  }
}
