.keydata-secondary-container,
.keydata-block-toprow,
.keydata-toprow-container {
  display: flex;  
  justify-content: space-around;
}

.keydata-block-secondary {
  color: white;
  display: flex;
  padding: 10px;
  background-color: rgba(76, 94, 91, 255);
}

.keydata-secondary-container-value,
.keydata-secondary-container-data {  
  font-weight: 600;  
  text-align: center;  
  padding: 0px 10px 0px 10px;
}

.keydata-secondary-container-value {
  font-size: 1em;
  margin-top: 8px;
}

.keydata-secondary-container-data {
  font-size: .8em;
  margin-top: 10px;
  color: #c6a46e;
}

.keydata-secondary-container-header {
  color: rgba(145, 206, 201, 255);
  padding: 10px 15px 10px 15px;
  margin-left: 15px;
  font-size: 0.9em;
  font-weight: 600;
}