.playlist-block-primary-header {
  color: rgba(145, 206, 201, 255);
  padding: 10px 15px 0px 15px;
  font-weight: 600;
  font-size: 0.9em;
  text-align: center;
}

.playlist-block-primary-value-main {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}

.playlist-secondary-header {
  padding: 10px 15px 0px 15px;  
  color: rgba(145, 206, 201, 255);
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;  
}

.playlist-secondary-value {
  padding: 10px 15px 0px 15px;  
}

.playlist-tertiary-header {
  color: rgba(145, 206, 201, 255);  
  font-size: 0.8em;
}

.playlist-tertiary-value {
  color: white;  
  font-weight: 400;
  font-size: 0.9em;
  display: flex;
}